gris_del_preHeader = #222222
rosa_menu = #B291A2
rosa_menu_rgb_alpha = rgba(178,145,162,0.8)
blanco = #FFFFFF
footer = #BED0DE



@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);
*
	border 0px
	margin 0px
	padding 0px

body
	font-family: 'Gudea', sans-serif;
	font-size 16px
	text-align center

footer
	background-color footer
	border-top solid 3px rosa_menu
	height auto
	padding 1em 0 1em 0
	width 100%
	h6
		color gris_del_preHeader
		font-size .8em
		font-weight 100

header
	background-color gris_del_preHeader
	color blanco
	h1,h2
		font-weight 100
		padding 0 1em 0 1em
	h1
		font-size 1.7em
	h2
		font-size 1.2em
		font-style italic
		margin-top -1em
		margin-left 3em

nav
	background-color rosa_menu
	height auto
	padding .5em 0 .5em 0
	width 100%
	ul li
		display inline-block
		padding 0 .5em 0 .5em
	a
		color blanco
		text-decoration none
	a:hover
		color gris_del_preHeader

.contenido
	height auto
	line-height 24px
	margin 0 auto
	text-align left
	width 90%

.barraDeLaPagina
	background-color rosa_menu
	height auto
	margin-bottom 1em
	margin-top -1.7em
	padding 1em 0 0 0
	width 100%
	h1
		color blanco
		font-size 1.5em
		font-weight 100
		text-align left
		padding 0 0 .3em 0
		margin-left 2.7em
	span
		font-size .8em
		font-style italic

.datos,.logos
	display inline-block
	vertical-align middle

.datos
	float right
	margin 2.9em 1.8em 0 0

.clear
	clear both

.columnas
	height auto
	width 100%
	.cols
		display inline-block
		padding 2em 1em 2em 1em
		h3
			font-weight 100
			float left
			margin 0 0 .3em 0
		a
			color gris_del_preHeader
			text-decoration none

.contactar
	background-color rosa_menu
	height auto
	padding 1em 0 1em 0
	width 100%

.container
	height auto
	width 100%

.flabia
	height auto
	margin 0 auto
	margin-top 5em
	width 72%
	img
		float left
		margin-right 1em
	p
		text-align left
		line-height 25px
	h3
		color gris_del_preHeader
		font-size 1.3em
		font-weight 100
		margin 0 0 .5em 0
		text-align left

.logos
	float left
	padding 1em 0 1.9em 1em

.redes
	height auto
	margin 1.8em 0 1em 0
	width auto
	ul li
		display inline-block
		padding 0 .8em 0 .8em


.vidriera
	height auto
	width 100%
	img
		height auto
		width 100%

/* ***************************** MEDIA QUERIES ********************************** */

@media screen and (min-width: 0px) and (max-width: 319px)
	body
		background-color #333
	header
		height auto
		width 100%
	.cols
		height auto
		display block
		width 90%
		img
			width 90%
	.columnas
		height auto
		width 100%
	.contactar
		height auto
		margin 0 auto
		width 90%
	.container
		width 100%
	.datos
		line-height 25px
		margin 0 auto
		margin -1em 0 .5em 0
		width 100%
	.flabia
		img
			height auto
			margin-bottom 1em
			width 95%
		h3
			font-size 1.2em
			width 100%
	.logos
		display block
		float none
		h1
			font-size 2em
		h2
			margin-left 7em
	.redes
		background-color blue
		height auto
		margin 0 auto
		margin-bottom 1em
		margin-top 2em
		width 80%

/* *************************************************************** */

@media screen and (min-width: 320px) and (max-width: 479px)
	header
		height auto
		width 100%
	.container
		width 100%
	.datos
		line-height 25px
		margin 0 auto
		margin -1em 0 .5em 0
		width 100%
	.flabia
		img
			height auto
			margin-bottom 1em
			width 95%
		h3
			font-size 1.2em
			width 100%
	.logos
		display block
		float none
		h1
			font-size 2em
		h2
			margin-left 7em

/* *************************************************************** */

@media screen and (min-width: 480px) and (max-width: 759px)
	header
		height auto
		width 100%
	.container
		width 100%
	.datos
		line-height 25px
		margin 0 auto
		margin -1em 0 .5em 0
	.flabia
		img
			height auto
			margin-bottom 1em
			width 95%
		h3
			font-size 1.2em
			width 100%
	.logos
		display block
		float none
		h1
			font-size 2em
		h2
			margin-left 7em

/* *************************************************************** */

@media screen and (min-width: 760px) and (max-width: 1019px)
	.container
		width 100%
	.datos
		line-height 25px
		margin 0 auto
		margin-top 2.3em
		text-align left
		width 48%

/* *************************************************************** */

/*@media screen and (min-width: 1020px)
	body
		background-color orange

/* *************************************************************** */

/*@media screen and (min-width: 1021px)
	body
		background-color red

/* ***************************** FINAL MEDIA QUERIES ********************************** */

