gris_del_preHeader = #222222
rosa_menu = #B291A2
rosa_menu_rgb_alpha = rgba(178,145,162,0.8)
blanco = #FFFFFF
footer = #BED0DE


body
	background blanco
	font-size 16px
	font-weight 100
footer
	color gris_del_preHeader
	background-color footer
	border-top solid 3px rosa_menu
	font-size 12px
	height auto
	padding .5em 0 .5em 0
	text-align center
	width 100%
.clear
	clear both
.contenido
	height auto
	width 100%
	.barraTitulo
		background-color rosa_menu
		height auto
		width auto
		h1
			color blanco
			font-size 23px
			font-weight 100
			padding .7em 0 .5em 4.5em
			span
				font-size 18px
				font-style italic
	p
		color gris_del_preHeader
		font-size 14px
		line-height 26px
		margin 0 auto
		padding 0 2em 0 1.7em
		width 83%
.contenedorColumnas
	height auto
	margin 0px
	padding 0px
	width 100%
	.cols
		height auto
		margin 0 auto
		padding 0px
		width 90%
	.col1
		display inline-block
		padding-left 2.5em
		padding-right 2.2em
		vertical-align top
		.boton
			transition: 2s
			-webkit-transition: 2s
			-moz-transition: 2s
			-o-transition: 2s
			-ms-transition: 2s
			background-color rosa_menu
			cursor pointer
			height 35px
			margin 0 0 1em 0
			text-align center
			padding 1.3em 0 0 0
			width 100%
		.boton:hover
			color blanco
			background-color #8e44ad
		h3
			font-size 20px
			font-weight 100
			margin-bottom .3em
.contenedorRedes
	height auto
	margin 0 auto
	padding 1em 0 1em 0
	width 40%
	.redesSociales
		li
			display inline-block
			padding 0 1.3em 0 1.5em
.preHeader
	background-color gris_del_preHeader
	color blanco
	height auto
	margin-bottom -16px
	margin-top 0px
	width 100%

	.log
		display inline-block
		vertical-align top
		width 30%
		h1
			font-size 25px
			font-weight 100
			margin .7em 0 -.1em 1.5em
			a
				color blanco
				transition: 1s
				-webkit-transition: 1s
				-moz-transition: 1s
				-o-transition: 1s
				-ms-transition: 1s
				text-decoration none
			a:hover
				color rosa_menu
		h2
			font-size 14px
			font-style italic
			font-weight 100
			margin .5em 0 1em 8em
	.institucional
		display inline-block
		vertical-align top
		width 65%
		p
			font-size 13px
			font-weight 100
			text-align right
			margin 2.5em -2em 0 0
.miniCv
	height auto
	margin 0 0 1em 0
	padding .2em 0 1em 0
	width 100%
	article
		height auto
		margin 0 auto
		margin-top 3em
		width 83%
		h2
			color gris_del_preHeader
			font-size 20px
			font-weight 100
		p
			color gris_del_preHeader
			font-size 14px
			line-height 22px
			width 97%
		img
			float left
			padding-right 1.5em
.redes
	height auto
	width 100%
	img
		transition: 1s
		-webkit-transition: 1s
		-moz-transition: 1s
		-o-transition: 1s
		-ms-transition: 1s
		width 64px
	img:hover
		margin-bottom 20px
.vidriera
	background-color red
	height 330px
	margin-bottom 1em
	width 100%
	nav
		background-color rosa_menu_rgb_alpha
		height 50px
		margin-top 1em
		width 100%
		ul
			font-size 14px
			font-weight 100
			width 90%
			li
				display inline-block
				padding 1.3em 1.4em 0 0
				a
					color blanco
					text-decoration none
					transition: 1s
					-webkit-transition: 1s
					-moz-transition: 1s
					-o-transition: 1s
					-ms-transition: 1s
				a:hover
					color gris_del_preHeader







